.dev {
    padding: .4em;
    display: flex;
    justify-content: space-around;
    background-color: var(--dark-color);
    color: var(--light-color);
    border-bottom: 1px solid red;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: .9;
    z-index: 40;
}


.dev ul {
    display: flex;
}

.dev ul li button, .dev ul li a {
    color: var(--light-color);
    margin-left: 2em;
    font-weight: 300;
}