.project {
    overflow-y: hidden;
}
.project-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
  }
  
  /* header */
  .header-container {
    width: 20%;
    padding-top: 12em;
    text-align: right;
    z-index: 1;
    /* background-color: var(--light-color); */
  }
  
  .header-container .header {
    padding: .8em 1.4em;
    font-size: 1.5em;
    margin-bottom: 1em;
    text-align: right;
    width: 100%;
    display: flex;
    justify-content: right;

  }
  
  .header-container .sub-header {
    padding: .8em 1.4em;
    justify-content: right;
    width: 100%;
    display: flex;
    font-size: 1em;
    /* background-color: red; */
  }
  
  /* tech list */
  .tech-list {
    padding-right: 1.4em;
    margin-top: 5em;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: right;
  }
  
  .tech-list li {
    margin-left: 1em;
    margin-bottom: .4em;
    /* margin-left: .5em; */

    filter: grayscale(40%);
  }
  .tech-icon {
    width: 45px;
    background-color: var(--light-color);
    filter: contrast(90%);
    border-radius: 50%;
    padding: .5em;
    height: auto;
  }
  
  /* img-list */
  .img-list {
    width: 80%;
    /* margin-top: 8vh; */
    margin-right: 8em;
    padding-top: 1em;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-areas:
    "i i i"
    "i a i"
    "i i i";
    grid-auto-rows: minmax(min-content, max-content);
    user-select: none;
    padding-right: .8em;
    align-items: center;
    animation:  500ms slideRight forwards ;
  }
  
  .img-list .main-img {
    background-color: var(--light-color);
    padding: .5em;
    max-width: 400px;
    transition: opacity 200ms cubic-bezier(0, 0, 0.58, 1.0);
    animation: 1500ms fadeIn forwards;
    cursor: pointer;
  }

  
.img-list .main-img:hover {
    filter: contrast(90%);
  }

.img-list-loader{
  grid-area: a;
  width: 15em;
  height: 15em;
}


/* event triggers */
.project-selected {
    background-color: var(--primary-color);
}

@media (max-width: 1200px) {
  .header-container {
    width: 25%;
    padding-top: 6em;
  }
  .header-container .header {
    padding: .6em .5em;
    font-size: .9em;
    margin-bottom: 1em;
  }
  .header-container .sub-header {
    padding: 1em .5em;
    font-size: .8em;
  }
  .tech-list {
    padding-right: .5em;
    margin-top: 8em;
    flex-direction: column;

  }

  .img-list {
    margin-right: 1em;
    grid-template-columns: repeat(3, auto);
    grid-template-areas:
    ". . ."
    ". a ."
    ". . .";    
    padding-right: .1em;
  }

  .img-list .main-img {
    padding: .2em;
    max-width: 280px;
    align-self: flex-start;
  }
}
@media (max-width: 960px) {
  .img-list {
    margin-right: 1em;
    grid-template-columns: repeat(2, auto);
    grid-template-areas: ". ." "a a" ". .";
    padding-right: .1em;
  }
}

@media (max-width: 650px){
  .project-container{
    flex-direction: column;
  }
  .header-container {
    width: 100%;
    padding-top: 0em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-container .header {
    padding: .4em .2em;
    font-size: .8em;
    margin-bottom: .5em;
    text-align: center;
    height: 4em;
    width: 100%;
    display: initial;
    justify-content: right;
  }
  .header-container .sub-header {
    padding: .4em .2em;
    font-size: .9em;
    height: 4em;
    justify-content: center;
    align-items: center;
  }
  .tech-list {
    display: none;
  }
  .img-list {
    width: 100%;
    height: 80vh;
  }
  .img-list .main-img {

    padding: .2em;
    max-width: 190px;
  }
}