@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Nunito+Sans:wght@200;300;400;500;600;700&display=swap');

/* 
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
*/

/* variables */
:root {
  --background-color: #fbf6f0;
  --primary-color:#6f8779;
  --dark-color: #333;
  --light-color: #f4f4f4;
}


*,*::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a:visited {
  color: initial;
}

/* button {
  border: none;
  background: inherit;
  color: inherit;
  text-align: center;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
} */


/* scrollbar */
::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	border-radius: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  display: none;
	width: 4px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 6px;
	background-color: var(--primary-color);
}


.loader {
  opacity: .4;
  font-size: 4px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  background: #878787;
  background: -moz-linear-gradient(left, #878787 10%, rgba(135,135,135, 0) 42%);
  background: -webkit-linear-gradient(left, #878787 10%, rgba(135,135,135, 0) 42%);
  background: -o-linear-gradient(left, #878787 10%, rgba(135,135,135, 0) 42%);
  background: -ms-linear-gradient(left, #878787 10%, rgba(135,135,135, 0) 42%);
  background: linear-gradient(to right, #878787 10%, rgba(135,135,135, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #878787;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
